/*media queries are with the relevant sections even if it creates redundancy
CSS is generally laid out with all page stuff at the top (nav, banner, footer) and
then page by page (index/about->resume->projects->Contact)*/
:root {
    --eerie-black: #191716; /* rgba(25,23,22,100) */
    --lightthistle: #f0d3f7; /* rgba(240,211,247,100) */
    --thistle: #BEA3C5; /* rgba(190,163,197,100) */
    --darkthistle: #39233F; /* rgba(57,35,63,100) */
    --midthistle: #8F7596; /* rgba(143,117,150,100) */
}
html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: var(--eerie-black);
}
p {
    margin:0;
    color: var(--lightthistle);
}
h1,h2,h3,h4 {
    color: var(--lightthistle);
}
/*Makes the stylish | for paragraph titles*/
h2:before {
    content: "| ";
    color: var(--lightthistle);
    font-size: 3rem;
}
/*This creates the nice bar underline at the top of each section
its up here because its used on many pages. set to change size when screen becomes small*/
h4:after {
    background-color: var(--lightthistle);
    content: "";
    display: flex;
    height: .5%;
    margin: 2rem auto 3rem;
    padding: .3rem;
    width: 20%;
}
@media only screen and (max-width: 600px) {
    h4:after {
        margin: 2rem auto;
        padding: .2rem;
        width: 50%;
    }
}
/*Setting up the Navbar coloring*/
#navbar {
    background-color: var(--eerie-black);
}
.navbar-brand {
    color: var(--lightthistle);
}
.navbar-brand:focus, .navbar-brand:hover {
    color: var(--lightthistle);
}
/*This makes an invisible underline that appears when hovering*/
.nav-link {
    color: var(--lightthistle);
    text-decoration: underline 0.15em rgba(240, 211, 247, 0);
    transition: color 0.5s, text-decoration-color 0.5s;
}
.nav-link:hover {
    color: var(--lightthistle);
    text-decoration-color: rgba(240, 211, 247, 1);
}
.dropdown-menu {
    background-color: var(--eerie-black);
}
.dropdown-item {
    color: var(--lightthistle);
    font-size: 1.5rem;
}
.dropdown-item:hover {
    background-color: var(--darkthistle);
}
/*This makes my banner at the top of every page not shrink but has the image focus on the center
when on smaller viewports*/
#banner {
    height: 40vh;
    padding: 0;
    object-fit: cover;
}
/*Styles a circular goto top button that's mostly invisible until hovered
where it will fully opaque and play a bouncing animation*/
#topbtn {
    background-color: var(--darkthistle);
    border-radius: 50%;
    border-style: solid;
    border-color: var(--lightthistle);
    position: fixed;
    bottom: 3%;
    left: 5%;
    height: 4rem;
    width: 4rem;
    opacity: 0.25;
    transition: 0.5s;
}
#topbtn i {
    font-size: 2.5rem;
    color: var(--lightthistle);
}
#topbtn:hover {
    opacity: 1;
    transform: scale(1.1,1.1);
}
@keyframes bounce {
    0% {transform: scale(1,1) translate(0, 0);}
    25% {transform: scale(1.5,0.5) translate(0, 10px);}
    50% {transform: scale(1.8,0.3) translate(0, 10px);}
    75% {transform: scale(1.5,0.7) translate(0, 5px);}
    100% {transform: scale(0.7,1.2) translate(0, 0);}
}
#topbtn:hover > a {
    animation-name: bounce;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
}
/*Adjusts the position for small screens so it doesnt overlap with footer icons*/
@media only screen and (max-width: 600px) {
    #topbtn {
        bottom: 10%;
    }
}
/*Setting up footer, this is up here because its on every page*/
#footer {
    background-color: var(--eerie-black);
    color: var(--lightthistle);
}
#footer i {
    font-size: 2rem;
    color: var(--lightthistle);
    transition: 0.5s;
}
/*Makes the social media icons spin on hover*/
@keyframes smedia {
    0% {transform: rotate(0deg);}
    25% {transform: rotate(90deg);}
    50% {transform: rotate(180deg);}
    75% {transform: rotate(270deg);}
    100% {transform: rotate(360deg);}
}
#footer a:hover, #footer a:focus {
    animation-name: smedia;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
/*Has all the social media icons color in on hover*/
#twitter:hover, #twitter:focus {
    color: deepskyblue;
}
#linked:hover, #linked:focus{
    color: cornflowerblue;
}
#youtube:hover, #youtube:focus{
    color:red;
}

/*Index Page specific CSS*/
/*This sets my background gradients for each section. There's probably a better way to do this*/
#whoami {
    background: linear-gradient(var(--eerie-black) 0%, var(--darkthistle) 100%);
}
#hobbies {
    background: linear-gradient(var(--darkthistle) 0%, var(--eerie-black) 100%);
}
/*Creates a rounded edge on the carousel images*/
#hobbies .carousel-inner {
    border-radius: 1rem;
    overflow: hidden;
}

/*Resume Page*/
/*This sets my background gradients for each section. There's probably a better way to do this*/
#skills {
    background: linear-gradient(var(--eerie-black) 0%, var(--darkthistle) 100%);
}
#education {
    background: linear-gradient(var(--darkthistle) 0%, var(--midthistle) 100%);
}
#work {
    background: linear-gradient(var(--midthistle) 0%, var(--darkthistle) 100%);
}
#volunteer {
    background: linear-gradient(var(--darkthistle) 0%, var(--eerie-black) 100%);
}
#skills #banner {
    object-position: 50% 90%;
}
/*style the skill cards and sets the hover effect*/
#skills .card {
    background-color: transparent;
    border-color: var(--lightthistle);
    color: var(--lightthistle);
    width: 12rem;
    transition: 0.5s;
}
#skills .card:hover {
    background-color: var(--lightthistle);
    border-color: var(--eerie-black);
    box-shadow: 1rem 1rem;
    color: black;
}
/*This is required due to specificity*/
#skills .card p {
    color: var(--lightthistle);
    transition: 0.5s
}
#skills .card:hover p {
    color: black;
}
#skills .card i {
    font-size: 5rem;
}
.box {
    background-color: transparent;
    border-style: dotted;
    border-color: var(--lightthistle);
    padding: 1rem;
    transition: 0.5s
}
.box:hover {
    background-color: var(--darkthistle);
}
.details {
    margin-left: 3rem;
}
/*Moves the cards into a colum and removes the box-shadow*/
@media only screen and (max-width: 600px) {
    #skills .card {
        margin-bottom: 1rem;
    }
    #skills .card:hover {
        box-shadow: none;
    }
    .skill {
        flex-direction: column;
        align-items: center;
        margin-bottom: 0;
    }
}
ul {
    color: var(--lightthistle);
}
#resumeDownload {
    color: var(--lightthistle);
    border-top-style: solid;
    border-bottom-style: solid;
    border-color: var(--lightthistle);
    padding: 0 0.5rem 0 0.5rem;
    text-decoration: none;
    transition: 0.5s;
}
#resumeDownload:hover {
    background-color: var(--lightthistle);
    border-radius: 1rem;
    font-weight: bold;
    color: black;
}

/*Projects Page*/
/*This sets my background gradients for each section. There's probably a better way to do this*/

#intro {
    background: linear-gradient(var(--eerie-black) 0%, var(--darkthistle) 100%);
}
#project1 {
    background: linear-gradient(var(--darkthistle) 0%, var(--midthistle) 100%);
}
#project2 {
    background: linear-gradient(var(--midthistle) 0%, var(--thistle) 50%, var(--midthistle) 100%);
}
#project3 {
    background: linear-gradient(var(--midthistle) 0%, var(--darkthistle) 100%);
}
#project4 {
    background: linear-gradient(var(--darkthistle) 0%, var(--eerie-black) 100%);
}
/*Shifting the banner image so it looks better on desktop*/
#intro #banner {
    object-position: 50% 25%;
}
/*Shifts the underline-bar to the left side and sets resizing, needs the redundant media query due to specificity*/
#project1 h4:after, #project2 h4:after, #project3 h4:after, #project4 h4:after {
    justify-content: flex-start;
    margin: 2rem 0 3rem;
    width: 25%;
}
@media only screen and (max-width: 600px) {
    #project1, #project2, #project3, #project4 {
        text-align: center;
    }
    #project1 h4:after, #project2 h4:after, #project3 h4:after, #project4 h4:after {
        margin: 2rem auto;
        padding: .2rem;
        width: 90%;
    }
}
.imagecard {
    box-shadow: -1rem 1rem 10px;
    margin-bottom: 3rem;
}
.myCard {
    background-color: var(--thistle);
    box-shadow: 20px 20px 10px black;
}
.myCard p {
    color: black;
}
/*Adds the fancy effects for desktop only as its less lines of code that way*/
@media only screen and (min-width: 1400px) {
    .imagecard {
        margin-bottom: 0;
    }
    .myCard {
        width: auto;
        transition: 0.7s;
    }
    .myCard:hover {
        background-color: var(--lightthistle);
        box-shadow: 30px 30px 20px black;
        transform: scale(1.1);
    }
    .myCard p {
        font-size: 1.3rem;
    }
}
#p1Card h2:before, #p3Card h2:before, #p4Card h2:before {
    color: var(--eerie-black);
}
/*swaps the colors compared to other cards due to background gradient*/
#p2Card {
    background-color: var(--darkthistle);
    color: var(--lightthistle);
}
/*Need this for specificity*/
#p2Card p {
    color: var(--lightthistle);
}
#project1 a {
    color: black;
    font-weight: bold;
    font-size: 1.5rem;
}
#project2 img {
    height: 500px;
}
#project4 iframe {
    box-shadow: -1rem 1rem 10px;
    margin-bottom: 5rem;
}

/*Contact Page*/
#contact {
    background: linear-gradient(var(--eerie-black) 0%, var(--darkthistle) 50%, var(--eerie-black) 100%);
}
/*Style the border box around the form*/
#formBox {
    background-color: transparent;
    border-style: dashed;
    border-color: var(--thistle);
    transition: 1s;
}
#formBox:hover {
    background-color: var(--eerie-black);
    border-style: solid;
    border-color: var(--lightthistle);
    transform: scale(1.1);
}
@media only screen and (max-width: 768px) {
    #formBox:hover {
        transform: none;
    }
}
/*Creates a small outline around the form fields when selected*/
#contact .form-control {
    transition: 0.5s;
}
#contact .form-control:hover, .form-control:focus {
    border-color: var(--lightthistle);
    box-shadow: 0 0 0 0.25rem var(--midthistle);
}
/*Button styling*/
#contact .btn-primary {
    background-color: var(--midthistle);
    border-color: var(--darkthistle);
    transition: 0.5s;
}
#contact a {
    color: white;
    text-decoration: none;
    transition: 0.5s;
}
#contact .btn-primary:hover {
    background-color: var(--thistle);
    border-color: var(--lightthistle);
    border-radius: 1.5rem;
}
/*Changes the anchor link text when any part of the button is hovered*/
#contact .btn-primary:hover > a {
    color: black;
}


